<main>
  <div class="container-fluid">
      <div class="row" >
      <div class="col-md-12" id="contenedor1">
          <h1>Calculadora</h1>
      </div>

      <div class="col-md-6" id="number1">
      <label for="" class="form-label mt-2" >Ingresa Número 1</label>
      <input type="number" class="form-control" name="" id="num1">
  </div>
      <div class="col-md-6" id="number2">
      <label for="" class="form-label mt-2">Ingresa Número 2</label>
      <input type="number" class="form-control" name="" id="num2"> 
  </div>

  <div class="col-md-12 text-center" id="boton">
      <button type="button" class="btn"(click)="Calcular()">Calcular</button>
  </div>

  <hr class="mt-3">

  <div class="col-md-3 rpta" id="suma">
      <label for="" class="form-label mt-2">SUMA</label>
      <input type="number" class="form-control" name="" value="{{suma}}" readonly>
  </div>

  <div class="col-md-3 rpta" id="resta">
      <label for="" class="form-label mt-2">RESTA</label>
      <input type="number" class="form-control" name="" value="{{resta}}" readonly>
  </div>

  <div class="col-md-3 rpta" id="multiplicacion">
      <label for="" class="form-label mt-2">MULTIPLICACIÓN</label>
      <input type="number" class="form-control" name="" value="{{multiplicacion}}" readonly>
  </div>

  <div class="col-md-3 rpta" id="division">
      <label for="" class="form-label mt-2">DIVISIÓN</label>
      <input type="number" class="form-control" name="" value="{{division}}" readonly>
  </div>

      </div>
  
  </div>
</main>